@font-face { 
    font-family: 'gotham';
    src: local('gotham'), url('font/GothamMedium.ttf') format('truetype');
}

body{
    font-family: 'gotham', 'arial';
}


/*NAV */
.barra-esquerda{
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 17vw;
}

.controlador{
    background-color: rgb(41, 41, 41);
    position: fixed;
    bottom: 0;
    height: 14vh;
    width: 100%;
    z-index: 2;

    border-top: black 1px solid;
}

.logo{
    color: white;
    font-size: 2vw;
    width: 100%;
    padding-top: 3.5vh;
    letter-spacing: -2px;
}

.logo img{
    width: 3vw;
    display: inline-block;
    vertical-align: middle;
    margin: 0.2vw;
}

.logo figcaption{
    display: inline-block;
}

nav{
    color: rgb(189, 189, 189);
}

nav ul {
    margin-top: 3.5vh;
    margin-bottom: 3.5vh;
}

nav li{
    font-size: 2.2vh;
    margin-top: 1.8vh;
    vertical-align: center;
}

nav {
    width: 78%;
    margin: 0 auto;
}

.itens-nav a {
    text-decoration: initial;
    color: rgb(189, 189, 189);
    display: inline-block;
}

.itens-nav a:hover{
    color: white;
}

h1{
    margin-top: 6vh;
    font-size: 2.5vh;
}

hr{ 
    margin: 2vh 0;
    height: 1px;
    background-color: rgb(66, 66, 66);
    border: none;
}


.quadradinho {
    background-color: rgb(173, 173, 173);
    width: 5vh;
    height: 5vh;
    display: inline-block;
    vertical-align: middle;
    text-align: center;

    margin-right: 2vh;
    font-size: 5vh;
    color: black;
}

.icon{
    font-size: 5vh;
    display: inline-block;
    margin-right: 2vh;
}


.download{
    width: 3.2vh;
    height: 3vh;
    border: white 1px solid ;
    border-radius: 100%;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    font-size: 3vh;
    
    margin-right: 1vh;
    
}

.instalar-app p{
    display: inline-block;
    vertical-align: middle;
    font-size: 2vh
}

.primeiro-item {
    margin-top: 0;
}

/*NAV */
/*scroller*/

.scroller{
    overflow: auto;
    height: 15.5vh;
    background-color: black;
    margin: 0;
    padding: 0;
    margin-bottom: 2vh;
}

.scroller .itens-nav {
    margin: 0;
    padding: 0;
}

.scroller li{
    color: rgb(95, 95, 95);
}

::-webkit-scrollbar {
  width: 2vh;
}

::-webkit-scrollbar-track {
    background: #000000; 
}

::-webkit-scrollbar-thumb {
    background: #888; 
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 255, 255); 
}

::-webkit-scrollbar-button{
    display: none;
}

/*scroller*/

/*controlador */

.controlador {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.tocando {
    
}

.controle {
    text-align: center;
    
}

.controle2 {
   
}
.buttons{
    vertical-align: middle;
    margin-top: 4%;
}

.play {
    fill: rgb(173, 173, 173);
    
}

.pause {
    fill: rgb(173, 173, 173);
    
    
}
/*controlador */
