@font-face { 
    font-family: 'gotham';
    src: local('gotham'), url('font/GothamMedium.ttf') format('truetype');
}

body, main{
    font-family: 'gotham', 'arial';
}


/*NAV */
.barra-esquerda{
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    height: calc(100% - 90px);
    width: 230px;
}

.controlador{
    background-color: rgb(41, 41, 41);
    position: fixed;
    bottom: 0;
    height: 90px;
    width: 100%;
    z-index: 2;

    border-top: black 1px solid;
}

.logo{
    color: white;
    font-size: 27px;
    width: 100%;
    padding-top: 25px;
    letter-spacing: -2px;
}

.logo img{
    width: 40px;
    display: inline-block;
    vertical-align: middle;
    margin: 4px;
}

.logo figcaption{
    display: inline-block;
}

nav{
    color: rgb(189, 189, 189);
}

nav ul {
    margin-top: 10px;
    margin-bottom: 18px;
}

nav li{
    font-size: 13px;
    margin-top: 10px;
    vertical-align: center;
}

nav {
    width: 78%;
    margin: 0 auto;
}

.selecionado{
    background-color: rgba(63, 63, 63, 0.76);
    border-radius: 3px;
    padding-bottom: 2px;
}

.itens-nav a {
    text-decoration: initial;
    color: rgb(189, 189, 189);
    display: inline-block;
}

.itens-nav a:hover{
    color: white;
}

.itens-nav h3 {
    display: inline-block;
    vertical-align: middle;
    margin-right: 3px;
}

h1{
    margin-top: 35px;
    font-size: 13px;
}

hr{ 
    margin: 15px 0;
    height: 1px;
    background-color: rgb(66, 66, 66);
    border: none;
}


.quadradinho {
    background-color: rgb(173, 173, 173);
    width: 35px;
    height: 35px;
    display: inline-block;
    text-align: center;

    margin-top: 2px;
    margin-right: 15px;
    font-size: 35px;
    color: black;
}

.icon{
    font-size: 32px;
    display: inline-block;
    margin-right: 10px;
}

.quadradinho p{
    margin-top: 3px;
}

.item-icon h2{
    display: inline-block;
    vertical-align: middle;

    margin-bottom: 5px;
}

.download{
    width: 20px;
    height: 20px;
    border: white 1px solid ;
    border-radius: 100%;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    
    margin-right: 10px;
}

.instalarapp-caixa{
    padding-top: 10px;
}

.instalar-app p{
    display: inline-block;
    vertical-align: middle;
    font-size: 11px;
}



/*NAV */
/*scroller*/

.caixa-scroller {
    height:120px;
    overflow: auto;
    overscroll-behavior-y: contain;
}

.scroller{
    background-color: black;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

.scroller .itens-nav {
    margin: 0;
    padding: 0;
}

.scroller li{
    color: rgb(122, 122, 122);
}

::-webkit-scrollbar{
    width: 12px;
}

::-webkit-scrollbar-track{
    background: #000000; 
    
}

::-webkit-scrollbar-thumb{
    background: rgb(88, 88, 88); 
    height: 5px;
}

::-webkit-scrollbar-thumb:hover{
    background: rgb(255, 255, 255); 
}

::-webkit-scrollbar-button{
    display: none;
}

.scroller ul li:nth-child(1) {
    margin-top: 0;
}
/*scroller*/

/*controlador */

.controlador {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.tocando {
    display: inline-block;
}

.capa-album{
    height: 60px;
    width: 60px;
    background-color: rgb(173, 173, 173);
    margin: 15px;
    display: inline-block;
}

.titulos {
    display: inline-block;
    vertical-align: top;
}

.titulos h1{
    color: white;
    font-size: 15px;
    margin-bottom: 5px;
}

.titulos h2{
    color: rgb(122, 122, 122);
    font-size: 10px;
}

.controle {
    text-align: center;
    align-self: top;
    margin-top: 8px;
}

.controle-2 {
    display: block;
    text-align: end;
}

.controle-2 button {
    background-color: rgb(0, 0, 0, 0);
    border: none;
}

.volume {
    position: relative;
    top: 35%;
    right: 30px;
    vertical-align: middle;
}

.volume-btn img {
    height: 22px;
}

.barra-vol {
    -webkit-appearance: none;
    width: 22%;
    height: 4px;
    vertical-align: middle;
    border-radius: 100px;
    background: #757575;
    outline: none;
    position: relative;
    margin-bottom: 12px;
}

.barra-vol::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #b8b8b8;
}

.buttons{
    margin-top: 1%;
    align-self: center;
}

.play {
    background-color: rgb(173, 173, 173, 0);
    border: rgb(173, 173, 173) solid 1px;
    border-radius: 100%;
    height: 40px;
    width: 40px;
    text-align: center;
}

.play img {
    height: 17px;
    margin-left: 2px;
    margin-top: 2px;
}

.prev, .fow {
    border: none;
    background-color: rgb(0, 0, 0, 0);
    margin-bottom: 4px;
}

.fow{
    margin-left: 8px;
}

.prev{
    margin-right: 8px;
}

.fow img {
    height: 12px;
}

.prev img {
    height: 12px;
}

.trackbar div{
    display: inline;
}

.trackbar {
    margin-top: 10px;
}

.barra {
    -webkit-appearance: none;
    width: 70%;
    height: 5px;
    vertical-align: middle;
    border-radius: 100px;
    background: #757575;
    outline: none;
}

.barra::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #b8b8b8;
}

.tempo, .tempo-total {
      font-size: 13px;
      color: #8d8d8d;
  }
/*controlador */


/*conteudo principal padrao*/

main {
    background-color: rgb(19, 19, 19);
    height: 100vh;
    width: 100vw;
}

.janela-main {
    position: fixed;
    right: 0;
    top: 0 ;
    width: calc(100% - 230px);
    height: calc(100% - 90px);
}

.main-superior {
    position: fixed;
    top: 0;
    right: 0;
    height: 70px;
    width: calc(100% - 230px);
}

.main-superior-esquerda {
    display: inline-block;
    width: 40%;
    margin-top: 15px;
    margin-left: 2.5%;
}

.main-superior-direita {
    display: inline-block;
    position: relative;
    text-align: end;
    width: 56%;
}

.main-superior-esquerda button{
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border: none;
    border-radius: 100%;
    height: 35px;
    width: 35px;
    margin: 4px;
}

.main-superior-direita button {
    background-color: rgba(0, 0, 0, 0.7);
    border: none;
    height: 35px;
    color: white;
    border-radius: 20px;
    margin: 10px;
}

.main-superior-direita .upgrade {
    border: white 1px solid;
    width: 15vw;
    height: 40px;
    font-weight: bolder;
}

.upgrade:hover {
    transform: scale(1.07);
    background-color: rgb(0, 0, 0, 1);
}

.container-conteudo {
    width: 97%;
    margin: 0 auto;
    margin-right: 0;
    overflow: auto;
    height: 90vh;
}

.avatar-circle {
    height: 25px;
    width: 25px;
    border-radius: 100%;
    background-color: white;
    display: inline-block;
    vertical-align: middle;
}


/*conteudo principal padrao*/

/*biblioteca */

.titulo-aba {
    font-size: 90px;
}

.titulo-aba-container {
    display: inline-block;
    color: white;
    font-weight: 900;
    vertical-align: top;
    margin-top: 70px;
    margin-left: 15px;
    letter-spacing: -1px;
}

.titulo-aba-container h1, h4 {
    margin: 3px 0;
    padding: 0;
}

.capa-album-main {
    height: 200px;
    width: 200px;
    display: inline-block;
    background-color: white;
}

.main-titulos {
    margin-top: 90px;
    margin-bottom: 30px;
    display: inline-block;
}

.label-lista {
    width: 100%; 
    text-align: left;
}

.label-lista h2 {
    color: rgb(99, 99, 99);
    margin-bottom: 0;
    margin: 0;
    padding: 0;
    font-size: 14px;
    display: inline-block;
    font-weight: lighter;
}

.label-lista h2:nth-child(1){
    width: 3%;
}

.label-lista h2:nth-child(2){
    width: 40%;
}

.label-lista h2:nth-child(3){
    width: 25%;
}

.label-lista h2:nth-child(4){
    width: 20%;
}

.label-lista h2:nth-child(5){
    width: auto;
}

.item-lista {
    width: 100%;
    margin-top: 10px;
}

.item-lista h2 { 
    display: inline-block;
    color: rgb(255, 255, 255);
}

.item-lista h2:nth-child(1){
    width: 3%;
}

.item-lista h2:nth-child(2){
    width: 40%;
}

.item-lista h2:nth-child(3){
    width: 25%;
}

.item-lista h2:nth-child(4){
    width: 20%;
}

.item-lista h2:nth-child(5){
    width: auto;
}

.musicas-lista {
    padding-bottom: 50px;
}