@font-face { 
    font-family: 'gotham';
    src: local('gotham'), url('font/GothamMedium.ttf') format('truetype');
}

body, main{
    font-family: 'gotham', 'arial';
}

button:hover{
    cursor: pointer;
}

/*NAV */
.barra-esquerda{
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    height: calc(100vh - 90px);
    width: 230px;
}

.logo{
    color: white;
    font-size: 27px;
    width: 100%;
    padding-top: 25px;
    letter-spacing: -2px;
}

.logo img{
    width: 40px;
    display: inline-block;
    vertical-align: middle;
    margin: 4px;
}

.logo figcaption{
    display: inline-block;
}

nav{
    color: rgb(189, 189, 189);
}

nav ul {
    margin-top: 10px;
    margin-bottom: 18px;
}

nav li{
    font-size: 13px;
    margin-top: 10px;
    vertical-align: center;
}

nav {
    width: 78%;
    margin: 0 auto;
}

.selecionado{
    background-color: rgba(63, 63, 63, 0.76);
    border-radius: 3px;
    padding-bottom: 2px;
}

.itens-nav a {
    text-decoration: initial;
    color: rgb(189, 189, 189);
    display: inline-block;
}

.itens-nav a:hover{
    color: white;
    cursor: pointer;
}

.itens-nav h3 {
    display: inline-block;
    vertical-align: middle;
    margin-right: 3px;
}

.itens-nav li a{
    display: inline-flex;
    align-items: center;
}

h1{
    margin-top: 35px;
    font-size: 13px;
}

hr{ 
    margin: 15px 0;
    height: 1px;
    background-color: rgb(66, 66, 66);
    border: none;
}

.quadradinho {
    background-color: rgb(173, 173, 173);
    width: 35px;
    height: 35px;
    text-align: center;

    font-size: 35px;
    color: black;
    display: flex;
    justify-content: center;
    margin-right: 5px;
}

.quadradinho p {
    margin-top: 3px;
}

.icon{
    font-size: 32px;
    margin-right: 10px;
}

.download{
    width: 20px;
    height: 20px;
    border: white 1px solid ;
    border-radius: 100%;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    
    margin-right: 10px;
}

.instalarapp-caixa{
    position: absolute;
    bottom: 10px;
    width: 100%;
    margin-left: 15px;
    
}

.instalar-app{
    display: inline-flex;
    align-items: baseline;
    justify-content: center;
}

.instalar-app p{
    font-size: 11px;
}

.item-playlist:hover {
    cursor: pointer;
}


/*NAV */

/*scroller*/

.caixa-scroller {
    height:120px;
    overflow: auto;
    overscroll-behavior-y: contain;
}

.scroller{
    background-color: black;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

.scroller .itens-nav {
    margin: 0;
    padding: 0;
}

.scroller li{
    color: rgb(122, 122, 122);
}

::-webkit-scrollbar{
    width: 12px;
}

::-webkit-scrollbar-track{
    background: #000000; 
    
}

::-webkit-scrollbar-thumb{
    background: rgb(88, 88, 88); 
    height: 5px;
}

::-webkit-scrollbar-thumb:hover{
    background: rgb(255, 255, 255); 
    width: 10px;
}

::-webkit-scrollbar-button{
    display: none;
}

.scroller ul li:nth-child(1) {
    margin-top: 0;
}
/*scroller*/

/*controlador */

.controlador {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;

    background-color: rgb(41, 41, 41);
    position: fixed;
    bottom: 0;
    height: 90px;
    width: 100%;
    z-index: 2;

    border-top: black 1px solid;
}

.tocando {
    width: 100%;
    height: 90px;
    display: inline-flex;
    
}

.capa-album{
    height: 60px;
    width: 60px;
    background-color: rgb(173, 173, 173);
    margin: 15px;
    display: inline-block;
}

.titulos {
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20vw;
}

.titulos h1{
    margin-top: 0;
    color: white;
    font-size: 13px;
    margin-bottom: 5px;
}

.titulos h2{
    color: rgb(122, 122, 122);
    font-size: 10px;
    margin: 0;
}

.controle {
    text-align: center;
    align-self: top;
    margin-top: 8px;
}

.controle-2 {
    display: block;
    text-align: end;
}

.controle-2 button {
    background-color: rgb(0, 0, 0, 0);
    border: none;
}

.volume {
    position: relative;
    top: 35%;
    right: 30px;
    vertical-align: middle;
}

.volume-btn img {
    height: 22px;
}

.barra-vol {
    -webkit-appearance: none;
    width: 22%;
    height: 4px;
    vertical-align: middle;
    border-radius: 100px;
    background: #757575;
    outline: none;
    position: relative;
    margin-bottom: 12px;
}

.barra-vol::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #b8b8b8;
}

.buttons{
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin-top: 5px;
}

.play {
    background-color: rgb(173, 173, 173, 0);
    border: rgb(173, 173, 173) solid 1px;
    border-radius: 100%;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
}

.play:hover{
    transform: scale(1.07);
}

.play img {
    height: 15px;
}

.prev, .fow {
    border: none;
    background-color: rgb(0, 0, 0, 0);
}

.fow{
    margin-left: 8px;
}

.fow:hover{
    transform: scale(1.1);
}

.prev{
    margin-right: 8px;
}

.prev:hover{
    transform: scale(1.1);
}

.fow img {
    height: 12px;
}

.prev img {
    height: 12px;
}

.trackbar {
    display: inline-flex;
    width: 100%;
    align-items: baseline;
    justify-content: center;
    margin-top: 8px;
}


.barra {
    -webkit-appearance: none;
    width: 35vw;
    height: 5px;
    vertical-align: middle;
    border-radius: 100px;
    background: #757575;
    outline: none;
}

.barra::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #b8b8b8;
}

.tempo, .tempo-total {
      font-size: 13px;
      color: #8d8d8d;
      width: 50px;
      height: 20px;
}

/*controlador */


/*conteudo principal padrao*/

main {
    background-color: rgb(19, 19, 19);
    height: 100vh;
    width: 100vw;
}

.janela-main {
    position: fixed;
    right: 0;
    top: 0 ;
    width: calc(100% - 230px);
    height: calc(100% - 90px);
}

.main-superior {
    position: fixed;
    top: 0;
    right: 0;
    height: 70px;
    width: calc(100% - 230px);
}

.main-superior-esquerda {
    display: inline-block;
    width: 40%;
    margin-top: 15px;
    margin-left: 2.5%;
}

.main-superior-direita {
    display: inline-block;
    position: relative;
    text-align: end;
    width: 56%;
}

.main-superior-esquerda button{
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border: none;
    border-radius: 100%;
    height: 35px;
    width: 35px;
    margin: 4px;
}

.main-superior-direita button {
    background-color: rgba(0, 0, 0, 0.7);
    border: none;
    height: 35px;
    color: white;
    border-radius: 20px;
    margin: 10px;
}

.main-superior-direita .upgrade {
    border: white 1px solid;
    width: 15vw;
    height: 40px;
    font-weight: bolder;
}

.upgrade:hover {
    transform: scale(1.07);
    background-color: rgb(0, 0, 0, 1);
}

.container-conteudo {
    width: 97%;
    margin: 0 auto;
    margin-right: 0;
    overflow: auto;
    height: 90vh;
}

.avatar-circle {
    height: 25px;
    width: 25px;
    border-radius: 100%;
    background-color: white;
    display: inline-block;
    vertical-align: middle;
}

.avatar:hover{
    background-color: rgb(41, 41, 41);
}

.avatar-onclick{
    display: none;
    position: absolute;
    right: 12px;
    height: 130px;
    width: 110px;
    border-radius: 5px;

    background-color: rgb(41, 41, 41);
    margin-top: 60px;
    box-shadow: 3px 2px 5px 2px rgba(0, 0, 0, 0.6)
}

.avatar-onclick ul{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.avatar-onclick li h3 {
    color: white;
    font-size: 13px;
    margin-left: 12px;
}

/*conteudo principal padrao*/

/*biblioteca */

.titulo-aba {
    font-size: 60px;
}

.titulo-aba-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-weight: 900;
    vertical-align: top;
    margin-left: 15px;
    letter-spacing: -1px;
    width: 60%;
}

.titulo-aba-container h1, h4 {
    margin: 3px 0;
    padding: 0;
}

.container-titulos{
    width: 100%;
    display: flex;
}

.capa-album-main {
    height: 200px;
    width: 200px;
    background-color: white;
}

.main-titulos {
    margin-top: 90px;
    width: 100%;
}

.label-lista {
    margin: 4vh 0;
    width: 100%; 
    text-align: left;
}

.label-lista h2 {
    color: rgb(99, 99, 99);
    margin-bottom: 0;
    margin: 0;
    padding: 0;
    font-size: 14px;
    display: inline-block;
    font-weight: lighter;
}

.label-lista h2:nth-child(1){
    width: 3%;
}

.label-lista h2:nth-child(2){
    width: 40%;
}

.label-lista h2:nth-child(3){
    width: 25%;
}

.label-lista h2:nth-child(4){
    width: 20%;
}

.label-lista h2:nth-child(5){
    width: auto;
}

.item-lista {
    width: 100%;
    padding: 10px 0;
}

.item-lista:hover{
    cursor: pointer;
}

.item-lista h2 { 
    display: inline-block;
    color: rgb(255, 255, 255);
}

.item-lista h2:nth-child(1){
    width: 3%;
}

.item-lista h2:nth-child(2){
    width: 40%;
}

.item-lista h2:nth-child(3){
    width: 25%;
}

.item-lista h2:nth-child(4){
    width: 20%;
}

.item-lista h2:nth-child(5){
    width: auto;
}

.musicas-lista {
    font-size: 14px;
    margin: 0;
    margin-bottom: 30px;
}

audio {
    margin-bottom: 30px;
}
/*biblioteca */

/*apresentacao*/

.apresentacao h1 {
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.apresentacao h2 {
    color: white;

}

.apresentacao h3 {
    font-size: 12px;
    color: rgb(70, 70, 70);
}

.contatos{
    width: 97%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;

    margin: 10px 0px 30px 0px;
}

.contato-item{
    height: 220px;
    background-color: rgb(34, 34, 34);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.contato-item:hover{
    background-color: rgb(46, 46, 46);
}

.contato-item div {
    background-color: rgb(255, 255, 255);
    width: 150px;
    height: 150px;
    margin-top: 5px;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: space-around;

}

.contato-item img{
    height: 90%;
}

.contato-item h2{
    margin-top: 4px;
}

.contato-item h3{
    color: rgb(126, 126, 126);
    margin: 0;
}